$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header {
    padding-left: 0;
    padding-right: 0;
  }
  .header {
    margin-bottom: 30px;
  }
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.app-content{
    background-color:#ccc;
    position:absolute;
    width:100%;
    top:6%;
    left:0em;
    z-index:1000;
}

.md-card-image {
  width:50%;
  height:50%;
  padding-bottom: 0em;
  object-fit: contain;
  float:left;
}

.modal-body {
  height: 500px;
}

form { 
  text-align: center;
}

label {
  font-size:2em;
}